.job_card {
  max-width: 659px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .job_card {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .job_card {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .job_card {
    max-width: 280px;
    margin: auto;
  }
}