.vacancy_card {
  max-width: 659px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .vacancy_card, .vacancy_snippet {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .vacancy_card, .vacancy_snippet {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .vacancy_card, .vacancy_snippet {
    max-width: 320px;
    margin: auto;
  }
}